.produto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  max-width: 900px;
  padding: 60px 20px;
  margin: 0 auto;
}

section {
  margin-top:150px ;
}

.titulo {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.preco {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.descricao {
  margin-bottom: 10px;
}