.products-container {
  max-width: 1000px;
  margin: 0 auto;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 30px;
}

@media screen and (max-width: 500px) {
  .products {
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  margin: 10px;
  padding: 20px;
  }
}
.product {
  box-shadow: 0 4px 8px rgba(30, 60, 90, 0.1);
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  transition: all 0.2s;
}

@media screen and (max-width: 500px) {
  .product {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .product img {
  width: 120px;
  border-radius: 4px;
  margin-bottom: 0px;
  }
}

@media screen and (max-width: 500px) {
  .title {
  font-size: 0.9rem;
  text-align: center;
  color: #000;
  }
}

.product img {
  border-radius: 4px;
  margin-bottom: 20px;
}

.product:hover {
  box-shadow: 0 6px 12px rgba(30, 60, 90, 0.2);
  transform: scale(1.1);
  position: relative;
  z-index: 1;
}

.title{
  font-size: 0.9rem;
  text-align: center;
  color: #000;

  margin-top: 8px;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #87f;
}

.category {
  font-size: 1rem;
  text-align: center;
  color: #ccc;
  background-color: grey;
  border-radius: 30px;
  padding: 12px 18px;
  margin-bottom: 10px;
}

.description {
  font-size: 0.8rem;
  color: #000;
}